In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import KFold
from sklearn.utils import shuffle

In [6]:
df = pd.read_csv('metodosDeValidacion.csv')
df

     x   y
0    1   2
1    2   4
2    3   6
3    4   8
4    5  10
5    6  12
6    7  14
7    8  16
8    9  18
9   10  20
10  11  22
11  12  24
12  13  26
13  14  28
14  15  30
15  16  32
16  17  34
17  18  36
18  19  38
19  20  40

Separamos el dataset

In [7]:
x = df.drop(['y'], axis=1)
y = df['y']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, shuffle=False)

In [10]:
def Validacioncruzada(x_train,y_train,k):
    print ('\n ----------------------\n')
	print ('\n Validación cruzada \n')
	kf = KFold(n_splits=k)
	print ('\n X \n')
	for train, test in kf.split(X_train):
		print(X_train[train], X_train[test])
	print ('\n y \n')
	for train, test in kf.split(X_train):
		print(y_train[train], y_train[test])

TabError: inconsistent use of tabs and spaces in indentation (<string>, line 3)